* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url('/assets/images/finalbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  p {
    text-align: center;
    opacity: 0.3;
    transition: 0.3s;
    position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  p:hover {
    opacity: 1;
  }
  .receipt {
    width: 350px;
    max-width: 90%;
    margin: 5vh auto 0 auto;
    transform: scale(0.9)!important;
  }
  .receipt_hoverable {
    position: relative;
    transition: 0.7s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.9)!important;
  }
  .receipt_hoverable:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transform: scale(0.9)!important;
  }
  .header {
    width: 100%;
  }
  .header__name {
    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: green;
    margin-bottom: 7.5px;
    margin-right: 25px;
  }
  .header__top {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    /* border-radius: 25px 25px 0 0; */
  }
  .header__logo {
    width: 10%;
    padding: 35px;
  }
  .header__meta {
    position: relative;
    width: 90%;
    height: 100%;
    line-height: 1.7rem;
    opacity: 0.7;
    margin-left: 10px;
    color: black;
  }
  .header__serial {
    display: block;
  }
  .header__number {
    position: absolute;
    top: 7.5px;
    right: 0;
    transform: rotate(270deg);
  }
  .header__greeting {
    clear: both;
  }
  .header__greeting {
    position: relative;
    background: white;
    padding: 0 10px;
    padding-left: 20px;
  }
  .header__name {
    display: block;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 7.5px;
  }
  .header__count {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    opacity: 0.9;
  }
  .header__border {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #429fff;
  }
  .header__spacing {
    display: block;
    background: white;
    width: 100%;
    height: 20px;
  }
  .cart {
    background: white;
    padding: 20px;
    padding-top: 10px;
    border-bottom: 2px dashed #ff84a1;
    border-radius: 0 0 5px 5px;
  }
  .cart__header {
    margin-top: 0;
    text-align: center;
    font-size: 1.3rem!important;
  }
  .cart__hr {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 3px solid #fee469;
  }
  .header__hr {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #e8e8e8;
  }
  .list {
    margin: 0;
    padding: 0;
    counter-reset: item-counter;
  }
  .list__item {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  }
  .list__item:last-child {
    border-bottom: none;
  }
  .list__item:before {
    content: counter(item-counter);
    counter-increment: item-counter;
    margin-right: 12px;
  }
  .list__name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    flex: 1;
    align-self: flex-start;
  }
  .list__price {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
  }
  .cart__total {
    display: flex;
    width: 100%;
  }
  .cart__total-label {
    margin: 0;
    flex: 1;
    text-transform: uppercase;
  }
  .cart__total-price {
    align-self: flex-end;
    font-weight: bold;
    text-align: right;
  }
  .bar-code {
    background: white;
    padding: 16px;
    /* border-radius: 0px 0px 25px 25px; */
  }
  .link {
    display: block;
    margin: 20px auto 10px auto;
    text-align: center;
  }
  img {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  @media screen and (max-width: 768px) {
    .receipt {
      max-width: 95%;
      margin: 8vh auto 0 auto;
    }
    .header__logo {
      width: 20%;
    }
    .header__meta {
      width: 80%;
      margin-left: 10px;
    }
  }
  .sidebar-contact{
    position:fixed;
    top:50%;
    left:-350px;
    transform:translateY(-50%);
    width:350px;
    height:auto;
    padding:40px;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
  }
  .sidebar-contact.active{
    z-index: 100;
    left:0;
  }
  .sidebar-contact input,
  .sidebar-contact textarea{
    width:100%;
    height:36px;
    padding:5px;
    margin-bottom:10px;
    box-sizing:border-box;
    border:1px solid rgba(0,0,0,.5);
    outline:none;
  }
  h2 {
    font-weight: 900!important;
    text-align: center!important;
    margin-bottom: 18px!important;
    color: #333!important;
    font-size: 18px!important;
    padding: 10px 0px 30px 0px;
    line-height: 0;
  }
  .sidebar-contact h2{
    margin:0 0 20px;
    padding:0;
  }
  .sidebar-contact textarea{
    height:60px;
    resize:none;
  }
  .sidebar-contact input[type="submit"]{
    background:#00bcd4;
    color:#fff;
    cursor:pointer;
    border:none;
    font-size:18px;
  }
  .toggle{
    position:absolute;
    height:48px;
    width:48px;
    text-align:center;
    cursor:pointer;
    background:#f00;
    top:0;
    right:-48px;
    line-height:48px;
  }
  .toggle.active{
      top:0;
      right:0;
    }
  
  .toggle::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f095"; 
    font-size: 18px;
    color: #fff;
  }
  .toggle.active:before{
    content:'\f00d';
    top:0;
    right:0;
  }
  .scroll {
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .scroll div {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .scroll strong {
    font-weight: bold;
    color: #007BFF;
  }
  
  .scroll a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .scroll a:hover {
    text-decoration: underline;
  }
  
  
  @media(max-width:768px)
  {
    .sidebar-contact{
      z-index: 100;
      width:100%;
      height:70%;
      left:-100%;
    }
    .sidebar-contact .toggle{
      top:50%;
      transform:translateY(-50%);
      transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
      top:0;
      right:0;
      transform:translateY(0);
    }
    .scroll {
      padding: 10px;
      background: #f8f9fa;
      border: 1px solid #dee2e6;
      border-radius: 5px;
  }
  
  .scroll div {
      margin-bottom: 20px;
      font-size: 16px;
  }
  
  .scroll strong {
      font-weight: bold;
      color: #007BFF;
  }
  
  .scroll a {
      color: #007BFF;
      text-decoration: none;
  }
  
  .scroll a:hover {
      text-decoration: underline;
  }
  
    .content{
      padding:50px 50px;
    }
  }
  .comic-button {
    display: inline-block;
    margin-top: 10px;
    margin-left:0;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: green;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    color: black;
    box-shadow: none;
    transform: translateY(4px);
  }
  
  .back {
    display: inline-block;
    margin-top: 10px;
    margin-left:10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .back:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .back:active {
    background-color: #fcf414;
    color: black;
    box-shadow: none;
    transform: translateY(4px);
  }
  